html, body {
    width: 100%;
    max-width: 450px;
    min-width: 350px;
    width: 450px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.form-check-label, .form-label {
    padding-right: 0.25rem;
}

.btn-mini {
    --bs-btn-padding-y: .05rem!important;
    --bs-btn-padding-x: .5rem!important;
    --bs-btn-font-size: .75rem!important;
}

.badge {
    padding-top: 0.3rem!important;
    padding-bottom: 0.3rem!important;
}

#extensionVersion {
    text-decoration: none;
}